<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin.html}">

<head>
</head>

<body>

    <div class="container-fluid row mt-3 justify-content-center profile-content" layout:fragment="content">
        <div class="col-12 text-center">
            <h4 class="text-uppercase">Tài Khoản Của Tôi</h4>
            <h6>Quản lý thông tin tài khoản của bạn. Bạn không nên tiết lộ thông tin để đảm bảo an toàn!</h6>
            <hr>
        </div>
        <div class="col-lg-3 col-md-3 profile-content-left">
            <div th:each="item : ${user}" class="profile-content-left-category">
                <span> <i class="fa fa-user-circle" aria-hidden="true"></i> Tài khoản của
                    tôi</span>
                <li><a th:href="@{'/shops/profile/' + ${item.Id}}">Hồ sơ</a></li>
                <li><a th:href="@{'/shops/change-password/'+ ${item.Id}}" class="text-danger">Đổi mật khẩu</a></li>
                <li><a th:href="@{'/chatshop/'+ ${item.Id}}">Trò chuyện</a></li>
                <li><a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Quên mật khẩu </a>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <span>Tài khoản của bạn sẽ bị đăng xuất, nếu muốn tiếp tục
                                <a th:href="@{/forgotpassword}" class="text-primary">nhấn vào đây</a>.
                            </span>
                        </div>
                    </div>
                </li>
                </li>
            </div>
            <div th:object=${editshopDto} enctype="multipart/form-data">
                <label for="image">Hình Ảnh:</label> <br>
                <img class="profile-content-left-avatar" th:src="@{'/getimage/' + *{id}}" />
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 profile-content-right mb-5">
            <div th:if="${checkValid != null}">
                <h5 th:text="${checkValid}" class="alert alert-danger text-center"></h5>
            </div>
            <div th:if="${message != null}">
                <h5 th:text="${message}" class="alert alert-success text-center"></h5>
            </div>
            <form th:action="@{/shops/changepassword}" method="post" th:object=${editshopDto}>
                <div class="form-group" th:if="${shopLogin} != null">
                    <label for="username">Tên đăng nhập:</label> <input type="text" class="form-control" th:value="${shopLogin.Shopname}" name="username" id="username" aria-describedby="helpId" placeholder="Tên đăng nhập" readonly>
                </div>
                <div class="form-group">
                    <label for="oldPassword">Mật khẩu cũ:</label> <input type="password" class="form-control" th:field="*{oldpassword}" name="oldPassword" id="oldPassword" aria-describedby="helpId" placeholder="Mật khẩu cũ" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">Mật khẩu mới:</label> <input type="password" class="form-control" th:field="*{newpassword}" name="newPassword" id="newPassword" aria-describedby="helpId" placeholder="Mật khẩu mới" required>
                </div>
                <div class="form-group">
                    <label for="password">Xác nhận mật khẩu:</label> <input type="password" class="form-control" th:field="*{repassword}" name="password" id="password" aria-describedby="helpId" placeholder="Xác nhận mật khẩu" required>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-outline-danger" id="buttonChangePass">Thay
							đổi mật khẩu</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>