<div class="content-boder shadow rounded">
    <div class="jumbotron">
        <h1 class="display-4">Xin chào!</h1>
        <p class="lead">Đây là trang dành cho quản trị viên. Bạn có thể xem, sửa, xóa thông tin người dùng, đại lý, bản tin.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn" href="https://www.facebook.com/chotroi.basic" target="_blank" role="button"><i class="fab fa-facebook-square"></i> Chợ trời</a>
        <a class="btn btn-primary btn" href="mailto:chotroi.basic@gmail.com?subject=Feedback&body=Message" role="button"><i class="fad fa-mailbox"></i> chotroi.basic@gmail.com</a>
    </div>
</div>