<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin.html}">

<head>
</head>

<body>
    <div class="container-fluid row mt-3 justify-content-center profile-content mb-5" layout:fragment="content">
        <div class="col-12 text-center">
            <h4 class="text-uppercase">Tài Khoản Của Tôi</h4>
            <h6>Quản lý thông tin tài khoản của bạn. Bạn không nên tiết lộ thông tin để đảm bảo an toàn!</h6>
            <hr>
        </div>
        <div class="col-lg-3 col-md-3 profile-content-left">
            <div th:each="item : ${user}" class="profile-content-left-category">
                <span> <i class="fa fa-user-circle" aria-hidden="true"></i> Tài khoản của
                    tôi</span>
                <li><a th:href="@{'/users/profileUser/' + ${item.Id}}" class="text-danger">Hồ sơ</a></li>
                <li><a th:href="@{'/users/change-password/'+ ${item.Id}}">Đổi mật khẩu</a></li>
                <li><a th:href="@{'/users/chatuser/'+ ${item.Id}}">Trò chuyện</a></li>
                <li><a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Quên mật khẩu </a>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">

                            <span>Tài khoản của bạn sẽ bị đăng xuất, nếu muốn tiếp tục
                                <a th:href="@{/forgotpassword}" class="text-primary">nhấn vào đây</a>.
                            </span>
                        </div>
                    </div>
                </li>
                </li>
            </div>
            <div th:object=${edituserDto} enctype="multipart/form-data">
                <label for="image">Ảnh đại diện:</label> <br>
                <img class="profile-content-left-avatar border" th:src="@{'/getimage/' + *{id}}" th:alt="*{image}" />

            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 profile-content-right">
            <form th:action="@{/users/update}" method="post" th:object=${edituserDto} enctype="multipart/form-data">
                <div th:if="${message != null}">
                    <h5 th:text="${message}" class="alert alert-success text-center"></h5>
                </div>
                <div class="form-group">
                    <label for="image">Chọn ảnh:</label><br>
                    <label style="cursor: pointer;" class="border p-1"><i class="fas fa-file-image"> Thêm
                            hình ảnh</i>
                        <input type="file" th:field="*{image}" style="display: none;" />
                    </label><br>
                    <small id="helpId" class="text-muted">Kích thước hình ảnh dưới 1MB.</small>
                </div>
                <div class="form-group">
                    <label for="username">Tên đăng nhập:</label> <input type="text" class="form-control" th:field="*{username}" name="username" id="username" aria-describedby="helpId" placeholder="Tên đăng nhập" style="cursor: not-allowed;" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label> <input type="email" class="form-control" th:field="*{email}" name="email" id="email" aria-describedby="helpId" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại:</label> <input type="text" class="form-control" th:field="*{phone}" name="phone" id="phone" aria-describedby="helpId" placeholder="Số điện thoại">
                </div>
                <div class="form-group">
                    <label for="fullname">Họ và tên:</label> <input type="text" class="form-control" th:field="*{fullname}" name="fullname" id="fullname" aria-describedby="helpId" placeholder="Tên đại lý">
                </div>
                <div class="form-group">
                    <label for="birthday">Ngày sinh:</label> <input type="text" class="form-control" th:field="*{birthday}" name="birthday" id="birthday" aria-describedby="helpId" placeholder="dd/MM/yyyy">
                </div>
                <div class="form-group">
                    <label>Giới tính:</label>
                    <input th:field="*{gender}" type="radio" id="name" name="gender" value="true">
                    <label for="nam">Nam</label>
                    <input th:field="*{gender}" type="radio" id="nu" name="gender" value="false">
                    <label for="nu">Nữ</label>
                </div>
                <div class="form-group" ng-controller="setAddressCtrl">
                    <label for="address">Địa chỉ:</label>
                    <input type="text" class="form-control mb-2" th:value="${setAddress}" name="address" id="address" placeholder="Địa chỉ" ng-if="addressStatus == true" style="cursor: not-allowed; background-color: white;" readonly/>
                    <input type="text" class="form-control" th:field="*{address}" ng-model="addressSelect" name="address" id="address" style="display: none;" />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <select class="custom-select" ng-options="item.name_with_type for item in tinhs" ng-model="tinhSelect" ng-change="selectTinh()">
                                <option value="">Chọn tỉnh, thành phố</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <select class="custom-select" ng-options="item.name_with_type for item in listQuanHuyen" ng-model="huyenSelect" ng-change="selectHuyen()">
                                <option value="">Chọn quận, huyện</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <select class="custom-select" ng-options="item.name_with_type for item in listXa" ng-model="xaSelect" ng-change="selectXa()">
                                <option value="">Chọn xã, phường</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-5">
                    <button class="btn btn-outline-warning button-profile">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>