<!doctype html>
<html lang="en">

<head>
    <title>Đăng nhập</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid" style="margin-top: 10vh;">
        <div class="col-sm-12 col-md-3 col-lg-3 border rounded m-auto">
            <div class="form-group text-center my-4">
                <img src="/images/choTroi2.png" class="img-fluid" width="200px">
            </div>
            <form th:action="@{/admin-login}" th:object="${admin}" method="post">
                <div th:if="${messageComplete != null}">
                    <h5 th:text="${messageComplete}" class="alert alert-success text-center"></h5>
                </div>
                <div th:if="${message != null}">
                    <h5 th:text="${message}" class="alert alert-danger text-center"></h5>
                </div>
                <div class="form-group">
                    <label for="my-input">Tài khoản:</label>
                    <input id="my-input" th:field="*{username}" class="form-control" type="text" name="" placeholder="Tài khoản">
                </div>
                <div class="form-group">
                    <label for="my-input">Mật khẩu:</label>
                    <input id="my-input" th:field="*{password}" class="form-control" type="password" name="" placeholder="Mật khẩu">
                </div>
                <div class="form-group text-center mb-4">
                    <button type="submit" class="btn btn-outline-dark">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>