<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin.html}">
<head>
</head>
<body>
    <div class="background-set-password" layout:fragment="content">
        <div class="container-fluid set-password-container">
            <img src="images/choTroi2.png" alt="choTroi2" class="set-password-image">
            <span class="sub-title-set-password">Website Chuyên Mua Bán, Trao Đổi Đồ Cũ</span>
            <div class="row card-set-password justify-content-lg-end justify-content-sm-center">
                <div class="col-md-5 col-sm-12 col-xs-12 card-set-password-container">
                    <div>
                        <h4 class="title-login">ĐẶT LẠI MẬT KHẨU</h4>
                        <h6 class="title-sub-set-password">Bạn cần nhập hai trường mật khẩu ở phía dưới để đặt lại mật khẩu.</h6>
                    </div>
                    <div th:if="${messageComplete != null}">
                        <h5 th:text="${messageComplete}" class="alert alert-success text-center"></h5>
                    </div>
                    <div th:if="${message != null}">
                        <h5 th:text="${message}" class="alert alert-danger text-center"></h5>
                    </div>
                    <form th:action="@{/set-password}" class="mt-3"  method="post">
                    	<div style="display: none">
                    		<input type="text" name="id" th:value="${id}"/>
                    		<input type="text" name="username" th:value="${username}"/>
                    		<input type="text" name="email" th:value="${email}"/>
                    	</div>
                        <div class="form-group">
                            <label for="newPassword">Mật khẩu mới:</label>
                            <input type="password" class="form-control" th:name="newPassword" placeholder="Mật khẩu mới"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="comfirmPassword">Xác nhận mật khẩu:</label>
                            <input type="password" class="form-control" th:name="comfirmPassword" placeholder="Xác nhận mật khẩu" required>
                        </div>
                        <div class="form-group">
                            <button class="btn button-set-password" th:if="${messageComplete == null}">
                                Xác nhận
                            </button>
                        </div>
                        <div class="form-group">
                            <a class="btn button-set-password" th:if="${messageComplete != null}" th:href="@{/login}">
                               <i class="fad fa-sign-in-alt"></i> Trang đăng nhập
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>