<div class="sidebar-header text-center">
    <h3>
        <a href="/">
            <img src="images/choTroi2.png" alt="chotroi" width="120px">
        </a>
    </h3>
    <strong>
        <a href="/">
            <img src="images/choTroi2.png" alt="chotroi" width="50px">
        </a>
    </strong>
</div>

<ul class="list-unstyled components" id="navbar-example3">
    <li>
        <a href="#!/home">
            <i class="fad fa-home-alt"></i> Trang chủ
        </a>
    </li>
    <li>
        <a href="#userSubmenu" data-toggle="collapse" id="targetSidebar" aria-expanded="false" class="dropdown-toggle" target="_self">
            <i class="fad fa-users-cog"></i> Người dùng
        </a>
        <ul class="collapse list-unstyled" id="userSubmenu">
            <li>
                <a href="#!/listUsers">Tất cả</a>
            </li>
            <li>
                <a href="#!/listUsersActivated">Đã kích hoạt</a>
            </li>
            <li>
                <a href="#!/listUsersNotActivated">Chưa kích hoạt</a>
            </li>
            <li>
                <a href="#!/listUsersBlock">Đã bị khóa</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#shopSubmenu" data-toggle="collapse" id="targetSidebar" aria-expanded="false" class="dropdown-toggle" target="_self">
            <i class="fad fa-store"></i> Đại lý
        </a>
        <ul class="collapse list-unstyled" id="shopSubmenu">
            <li>
                <a href="#!/listShops">Tất cả</a>
            </li>
            <li>
                <a href="#!/listShopsActivated">Đã kích hoạt</a>
            </li>
            <li>
                <a href="#!/listShopsNotActivated">Chưa kích hoạt</a>
            </li>
            <li>
                <a href="#!/listShopsBlock">Đã bị khóa</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#pageSubmenu" data-toggle="collapse" id="targetSidebar" aria-expanded="false" class="dropdown-toggle" target="_self">
            <i class="fad fa-clipboard"></i> Tin được đăng
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
                <a href="#!/listPostings">Tất cả</a>
            </li>
            <li>
                <a href="#!/listPostingsUnapproved">Tin chưa duyệt</a>
            </li>
            <li>
                <a href="#!/listPostingsApproved">Tin đã đăng</a>
            </li>
            <li>
                <a href="#!/listPostingsSold">Tin đã bán</a>
            </li>
            <li>
                <a href="#!/listPostingsBlock">Tin bị khóa</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#!/statistics">
            <i class="fad fa-clipboard-list"></i> Thống kê bản tin
        </a>
    </li>
    <!-- <li>
        <a href="#">
            <i class="fas fa-question"></i> FAQ
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-paper-plane"></i> Contact
        </a>
    </li> -->
</ul>